[submodule "lib/mongoose"]
	path = lib/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED
[submodule "lib/RPIPicoOnboardNVS"]
	path = lib/RPIPicoOnboardNVS
	url = https://github.com/jondurrant/RPIPicoOnboardNVS
[submodule "lib/wolfssl"]
	path = lib/wolfssl
	url = https://github.com/wolfSSL/wolfssl
